/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1000px;
  margin: 20px auto;
}

.section {
  flex: 1 1 20%; /* Ajusté pour 4 éléments par ligne */
  max-width: 23%; /* On garde la même largeur pour 4 éléments */
  min-width: 200px; /* Pour éviter que les éléments deviennent trop petits */
  background: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 15px 32px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.result {
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  width: 80%;
  max-width: 500px;
  margin-bottom: 30px;
  border-radius: 5px;
}

.general-button {
  background-color: #007BFF;
}

.general-button:hover {
  background-color: #0056b3;
}
